body {
  color: pink;
}

h1 {
  color: green;
}

.quote {
  color: blue;
}

.quote.narrator {
  color: black;
}

#intro p {
  color: green;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
